*.bak
*~
jbinding-java/bin
test/JavaTests/bin
.svn
*.tmp
CMakeFiles
/jbinding-cpp/javah
/jbinding-java/*.jar
/jbinding-java/bin*
/sevenzipjbinding*.jar
/sevenzipjbinding*.properties
/jbinding-cpp/*.so
/jbinding-cpp/*.cmake
/javac-test
/CPackConfig.cmake
/CPackSourceConfig.cmake
/CTestTestfile.cmake
/JUnitRunner.cmake
/cmake_install.cmake
Makefile
CMakeCache.txt
/Linux-amd64
DartConfiguration.tcl
/jbinding-java/scrapbook.jpage
/.cproject
/Testing/
tags
Session.vim
