*.bak
*~
*.tmp
*.so
*.jar
jbinding-java/bin
test/JavaTests/bin
.svn
hs_err_pid*.log
/CMakeCache.txt
/CMakeFiles/
/CPackConfig.cmake
/CPackSourceConfig.cmake
/CTestTestfile.cmake
/DartConfiguration.tcl
/JUnitRunner.cmake
/Linux-amd64/
/Makefile
/cmake_install.cmake
/javac-test/
/jbinding-cpp/CMakeFiles/
/jbinding-cpp/CTestTestfile.cmake
/jbinding-cpp/Makefile
/jbinding-cpp/cmake_install.cmake
/sevenzipjbinding-platforms.properties
/jbinding-cpp/javah/
/jbinding-java/bin-core/
/jbinding-java/bin-test/
/jbinding-java/scrapbook.jpage
/Testing/
/.cproject
*.swp
*.vim*
tags
*.tmp
Session.vim

