language: c
addons:
  apt:
    sources:
    - kubuntu-backports
    packages:
    - cmake
#install:
#  - sudo apt-get update -qq
#  - sudo apt-get install -y -qq lcov curl
script:
  - mkdir build && cd build && cmake -DCMAKE_BUILD_TYPE=Debug .. && cmake --build . && ctest
